.card {
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-container img {
  border-radius: 5px;
}

.btn-hover {
  transition: background-color 0.3s, color 0.3s;
}

.btn-hover:hover {
  background-color: #343a40;
  color: #fff;
}
