.hr{
    position: relative;
    top: 1450px; 
    height: 0.5px; background-color:rgba(128, 128, 128, 0.363) ; border: none;
}
.footer{
    position: relative;
    top: 1500px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer_right{
    display: flex;
    gap: 20px;
}
.footer_right_icon{
    font-size: 40px;
    color: #074040;;
}