.cont{
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-color:#FFFFFF;
}
.navbar{
    /* position: fixed; */
    width: 90%;
    margin: auto;
    height: 10vh;
    display:flex ;
    justify-content: space-between;
    align-items: center;
   
    /* padding: 30px 10%; */
    /* position: relative; */
}
.logo{
    text-decoration: none;
    cursor: pointer;
    position: relative;
    left: 50px;
    margin-left: -40px;
}
.btn1{
background-color: var(--dark-yellow-color);
color:#074040;
border: none;
padding: 10px 40px;
border-radius: 25px;
font-size: 20px;
font-weight: 400;
cursor: pointer;
}
.btn2{
    background-color: var(--dark-yellow-color);
    color: #074040;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    }
.dec{
    text-decoration: none;
    color:#074040;
    font-weight: 400;
    font-size: 19px;  

}
.decoration1{
    text-decoration: none;
    color:#074040;
    font-weight: 500;
    font-size: 16px; 
    padding: 0 20px;
    transition: all 0.2s ease 0s;
    padding-left: 15px;
}
.decoration{
    text-decoration: none;
    color:#074040;
    font-weight: 500;
    font-size: 16px; 
    padding: 0 20px;
    transition: all 0.2s ease 0s;
    padding-left: 15px;
    position: relative;
}
.decoration:hover {
    color: #214747;
    background-color: #d4d4d4;
    padding: 15px 25px;
    border-radius: 10px;
}
.FontAwesomeIcon{
    margin-left: 10px;
    margin-bottom: -1px;
}
.search{
    margin-left: 0px;
    margin-right: 0px;

}
.search input {
    padding: 8px;
    color: black;
    border: 1px solid rgba(165, 165, 165, 0.219);
    border-radius: 5px;
}
.FontAwesomeIconSearch{
    /* z-index: 100; */
    position: relative;
    left: -30px;
    color:  rgba(128, 128, 128, 0.664);
}
.FontAwesomeIconUser{
    position: relative;
    left: -10px;
}
.shadow{
    width: 100%;
    height: 1vh;
    background-image: linear-gradient(to bottom,#00000023, #00000000);
}
.dropdown_content {
    display: none;
    position: absolute;
    top: 49px;
    left: 10px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .decoration:hover .dropdown_content {
    display: block;
  }
  .dropdown_content a:hover {background-color: #ddd;}

.decoration:hover .dropdown_content {display: block;}


.wrapper{
    position: absolute;
    top: 35px;
    right: -15px;
    border: none;
    transform: translate(-50%,-50%);
  }
  
  .hamburger{
    width: 50px;
    height: 50px;
    background: #032F41;
    box-shadow: 0 0 15px rgba(3,47,65,1);
    cursor: pointer;
    position: relative;
    border-radius: 5px;
  }
  
  .hamburger > div{
    position: absolute;
      height: 5px;
    background: #fff;
    transition: width 0.3s ease;
    border-radius: 4px;
  }
  
  .first{
    width: 32px;
    top: 10px;
      right: 7px;
  }
  
  .second{
    width: 28px;
   top: 23px;
      right: 7px;
  }
  
  .third{
    width: 32px;
    top: 35px;
      right: 7px;
  }
  
  .hamburger:hover div{
    width: 35px;
    transition: width 0.3s ease;
  }
  